<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionappaccelator20231017224115.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4eb83d58-7a2e-4983-9b53-41d8e7070c13/resourceGroups/rg-demo/providers/Microsoft.Web/sites/FunctionAppAccelator20231017224115</ResourceId>
    <UserName>$FunctionAppAccelator20231017224115</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionappaccelator20231017224115.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>